#related-genes-ideogram-container, #gene-hints-ideogram-container {
  z-index: 1000;
  background: #FFF;

  &.hidden-related-genes-ideogram, &.hidden-gene-hints-ideogram {
    visibility: hidden;

    #_ideogramMiddleWrap {
      height: 0 !important;
    }
  }

  &.show-related-genes-ideogram, &.show-gene-hints-ideogram {

    visibility: visible;
    position: static !important;
    padding-bottom: 45px;

    ~ .expression-plot {
      position: relative;
    }

    #_ideogramMiddleWrap {
      border-bottom: 1px solid #EEE;
    }
  }
}
